@import "github-syntax-light/lib/github-light.css";
@import "@primer/css/dist/markdown.css";
@import "@primer/css/dist/primer.css";
@import "codemirror-github-light/lib/codemirror-github-light-theme.css";

section[data-footnotes=""] {
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-border-default);
}
